<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-clean">
                <form method="post" method="/login">
                    <h2 class="sr-only">Login Form</h2>
                    <div class="illustration text-center mb-4"><img
                            src="/images/766px-Orange_logo.svg.png?h=366615f413b9869426f92ca4170f5bc0"
                            style="width: 90px;"></div>
                    <div class="form-group"><input class="form-control" type="email" name="Username"
                            placeholder="Username"></div>
                    <div class="form-group"><input class="form-control" type="password" name="password"
                            placeholder="Password">
                    </div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit"
                            style="background: rgb(255,102,0);">Log In</button></div><a class="forgot" href="#">Forgot
                        your email or
                        password?</a>
                </form>
            </div>
        </div>
    </div>
</div>