<div class="container py-5" style="height: 100vh;">
    <div class="row p-5 d-flex mt-5" style="border: 1px solid red;">
        <div class="col-md-12  mt-5 p-2 border">
            <h4 class="display-4 text-center">Thank you for voting in this election</h4>
        </div>
    </div>
</div>