<div class="d-flex flex-column" id="content-wrapper">
    <div id="content" style="height: 853px;">
        <div style="padding-bottom: 0;height: 10px;padding-top: 32px;">
            <h1 class="text-center" style="padding-top: 0;">Orange Sierra Leone Women's Election</h1>
        </div>
        <div class="container-fluid" style="width: 800px;padding-top: 0;">
            <div class="text-center" style="margin-top: 20%;width: 100%;">
                <div class="row">
                    <div class="col-xl-12 offset-xl-0 d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-bottom: 20px;">
                        <div class="card shadow mb-3" style="width: 765px;">
                            <div class="card-header py-3" style="background: rgb(78,115,223);">
                                <p class="text-left m-0 font-weight-bold" style="color: rgb(255,255,255);">President</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-row">
                                                <div class="col-xl-12">
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <h6 class="d-xl-flex justify-content-xl-start" style="color: rgb(0,0,0);font-weight: bold;">INSTRUCTIONS</h6>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <h6 class="d-xl-flex justify-content-xl-start" style="color: rgb(0,0,0);">select&nbsp;&nbsp;<span class="badge badge-primary" style="font-size: 15px;">1</span>&nbsp; option from the list below.&nbsp;</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col" style="padding-top: 21px;">
                                                    <div class="form-check text-left" style="padding-left: 42px;padding-bottom: 15px;"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Elizabeth Fartoma</label></div>
                                                    <div class="form-check text-left" style="padding-left: 42px;"><input class="form-check-input" type="radio" id="formCheck-2"><label class="form-check-label d-inline" for="formCheck-2">Martha Sumaila</label></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-xl-flex">
                    <div class="col d-xl-flex justify-content-xl-end"><button class="btn btn-primary" type="button" style="width: 100%;" data-toggle="modal" data-target="#submitModal">Submit Ballot<i class="fa fa-check-circle" style="margin-left: 16px;"></i></button></div>
                </div>
            </div>
            <div class="modal fade" role="dialog" tabindex="-1" id="submitModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div>
                                <div class="col" style="padding-top: 15px;">
                                    <div class="row">
                                        <div class="col"><i class="fa fa-warning d-xl-flex justify-content-xl-center align-items-xl-center" style="font-size: 75px;color: rgb(251,26,26);"></i></div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <h6 class="d-xl-flex justify-content-xl-center">Are you sure that you want to submit your ballot?</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer text-center d-xl-flex justify-content-xl-center align-items-xl-center"><button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button><a class="btn btn-primary" role="button" href="/post_vote_page">Yes</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-white sticky-footer" style="background: rgb(8,13,23);">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Orange 2021</span></div>
        </div>
    </footer>
</div>