<div class="d-flex flex-column" id="content-wrapper">
    <div id="content" style="height: 853px;">
        <div style="padding-bottom: 0;height: 10px;padding-top: 32px;">
            <h1 class="text-center" style="padding-top: 0;">Orange Sierra Leone Women's Election</h1>
        </div>
        <div class="container-fluid" style="width: 800px;padding-top: 0;">
            <div class="text-center" style="margin-top: 20%;width: 100%;">
                <div class="row">
                    <div class="col-xl-12 offset-xl-0 d-xl-flex justify-content-xl-center align-items-xl-center"
                        style="margin-bottom: 20px;">
                        <div class="card shadow mb-3" style="width: 765px;">
                            <div class="card-header py-3" style="background: rgb(78,115,223);">
                                <p class="text-left m-0 font-weight-bold" style="color: rgb(255,255,255);">President</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <% if (typeof allCandidates !='undefined' ) { %>
                                        <% for( let index=0; index < allCandidates.length -2; index++ ) { %>
                                            <div class="col-md-6 my-3">
                                                <div class="card">
                                                    <img class="card-img-top"
                                                        src="/images/candidatePhoto/<%= allCandidates[index].photo %> "
                                                        alt="">
                                                    <div class="card-body">
                                                        <h4 class="card-title">
                                                            <%= allCandidates[index].fullname %>
                                                        </h4>
                                                        <p class="card-text">Presidential Candidate</p>

                                                        <button class="btn btn-info btn-block" id="btnVote"
                                                            data-candidate=<%=allCandidates[index].candidate_id %> >Vote
                                                            Now</button>

                                                    </div>
                                                </div>
                                            </div>

                                            <% } %>
                                                <% } %>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>