<div class="container" _ngcontent-c5="">
    <div class="text-xl-center d-xl-flex justify-content-xl-center align-items-xl-center row align-content-center"
        style="margin-top: 15px;margin-bottom: 8px;"><img class="d-xl-flex align-items-xl-start"
            src="/images/766px-Orange_logo.svg.png?h=366615f413b9869426f92ca4170f5bc0"
            style="width: 45px;margin-top: -10px;margin-right: 19px;height: 42px;">
        <h1 style="font-weight: bold;">OSL Women Election</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="text-center">
                <h1 class="display-4 mb-4">Create Election</h1>
            </div>
            <div class="card">
                <div class="card-body">
                    <form class="ng-pristine ng-invalid ng-touched" method="POST" action="#">
                        <div class="form-group has-danger mb-5">
                            <label appformlabeldangericon="" for="title"> Election
                                Title &nbsp;<i class="fa fa-star danger-icon icon-attention"></i></label>
                            <input
                                class="form-control form-control form-control-lg title-input ng-pristine ng-invalid ng-touched"
                                type="text" appfocusme="" formcontrolname="title"
                                placeholder="e.g. Homecoming Court, Board of Directors">
                            <div class="form-control-feedback ng-star-inserted">
                                <p>The election title must be between 2 and 200 characters<br></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group"><label>Start Date</label>
                                    <div class="well">
                                        <div id="datetimepicker1" class="input-append date"><input
                                                class="form-control flatpickr-input" type="date"
                                                data-format="dd/MM/yyyy hh:mm:ss"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group"><label>End Date</label>
                                    <div class="well">
                                        <div id="datetimepicker-1" class="input-append date"><input
                                                class="form-control flatpickr-input" type="date"
                                                data-format="dd/MM/yyyy hh:mm:ss"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn " style="background: #ff6600; color: #fff;"><i
                                class="fa fa-chevron-right" style="margin-left: 9px;"> &nbsp; Create
                                Election</i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>